
@keyframes myFadeIn {
    from {opacity: 1;}
    to {opacity: 0;
    visibility: hidden}
}

#fullScreen {
    height: 100%;
    width: 100%;
    z-index: 300;
    left: 0;
    top: 0;
    overflow: hidden;
    position: fixed;
    text-align: center;
    background-color: white;

    animation: myFadeIn 4s ease-in forwards;
}

#landingContainer {
    margin-top: 40vh;
}

#logoName {
    font-size: 3em;
    color: rgba(0,0,0,0.73);
    font-family: "Lato Black", sans-serif;
}

#logoImg {
    width: 2.5em;
    display: unset;
    margin-top: 1em;
}