@import url(//codepen.io/chrisdothtml/pen/ojLzJK.css);

/*#######################   MAP    ########################*/

#map {
    z-index: 0;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    position: fixed;
    text-align: center;
}

/*markers*/

#markerDesc {
    font-family: "Lato", sans-serif;
    font-size: 1.1em;
    font-weight: lighter;
}

#markerName {
    font-family: "Lato Black", sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: none;
}

/*#######################   SIDENAV    ########################*/

#sideNavOpenButton {
    cursor: pointer;
    position: fixed;
    z-index: 99;
    top: 0;
}

#plusIcon {
    width: 3em;
    height: 3em;
    margin: 0.5em;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

#sideTable {
    z-index: 150;
}

.menuElements a {
    padding: 0 8px 0 32px;
    text-decoration: none;
    color: black;
    display: block;
    transition: 0.3s;
}

.menuElements a:hover {
    color: #4b81e8;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 2px;
    margin-left: 50px;
}

.closebtn {
    font-size: 2.5em;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .menuElements a, #addObj {font-size: 1em;}
}

/*#######################   FORM    ########################*/


/*inputs*/

:focus{outline: none;}

textarea {
    resize: vertical;
}

.col-3{float: left; width: 90%; margin: 0.7em; position: relative;} /* necessary to give position: relative to parent. */
input[type="text"], textarea{font: 1em/1.5em "Lato", "Lato Black", sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;}

.effect-2, textarea{border: 0; padding: 7px 0; border-bottom: 1px solid #ccc;}
.effect-2 ~ .focus-border {position: absolute; bottom: 0; left: 50%; width: 0; height: 2px; background-color: #4b81e8; transition: 0.4s;}
.effect-2:focus ~ .focus-border, textarea:focus ~ .ta{width: 100%; transition: 0.4s; left: 0;}

textarea ~ .ta {
    position: absolute;
    bottom: 0.3em;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #4b81e8;
    transition: 0.4s;
}

/*main*/

#mainForm {
    text-align: center;
}

#coord {
    background-color: white;
}

/*buttons*/

#buttonContainer {
    margin-top: 2em;
    display: inline-block;
    width: 100%;
}

.button {
    display: block;
    width: 90%;
    height: 2.5em;
    line-height: 2.5em;
    margin: auto;
    color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}

.add {
    background-color: #4b81e8;
}

.cancel, .delete{
    background-color: #e34131;
}

.save {
    background-color: rgb(132,219,48);
}

.save:disabled, .add:disabled {
    background-color: dimgray;
}

.button span{
    text-transform: uppercase;
}

.button:hover {
    text-decoration: none;
}

.add:hover, .add:active{
    background-color: #4258b6;
}

.cancel:hover, .delete:hover{
    background-color: #9e2b27;
}

.save:hover{
    background-color: #5ba028;
}

/*#######################   logo    ########################*/

#mainLogoContainer {
    position: fixed;
    z-index: 101;
    bottom: 0;
    display: inline-block;
    text-align: center;
    margin: 1em;
}

#logoNameMain {
    font-size: 1.5em;
    color: rgba(0,0,0,0.73);
    font-family: "Lato Black", sans-serif;
    text-decoration: none;
}

#logoImgMain {
    width: 0.9em;
    float: right;
    padding-left: 0.2em;
}
