body {
    font-family: "Lato", sans-serif;
}

a {
    text-decoration: none;
    outline: none;
}

/*scrollbar ===================================*/

/* width */
::-webkit-scrollbar {
    width: 0.75em;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0.31em grey;
    border-radius: 0.5rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.1);
    border-radius: 0.5rem;
}