
#savedObj {
    margin-left: 2em;
}

.table {
    width: 100%;
    font-size: 0.7em;
    cursor: pointer;
}

#firstRow {
    cursor: default;
}

.table th {
    background: #ffffff;
    color: black;
    font-weight: bold;
}
.table td, .table th{
    padding: 1em;
    text-align: left;
}

.nameCol {
    font-weight: bold;
}

tr {
    border-bottom:2px solid transparent;
}

tr:hover {
    border-bottom: 2px solid #4b81e8;
}


.table, .table td, .table tbody, .table th, .table tr{
    display: block;
}

.table th {
    display: none;

}

.table tr {
    border: 0.05em solid #f8f8f8;
}

.table td{
    border: none;
    border-bottom: 0.05em solid #f8f8f8;
    position: relative;
    padding-left: 50%;
}

.table td:before {
    position: absolute;
    top: 0.2em;
    left: 0.2em;
    width: 45%;
    padding-right: 0.5em;
    white-space: nowrap;

}

#table td:nth-of-type(1):before {
    content: "#";
    font-weight: bold;
}
#table td:nth-of-type(2):before {
    content: "NIMI";
    font-weight: bold;
}
#table td:nth-of-type(3):before {
    content: "KIRJELDUS";
    font-weight: bold;
}
#table td:nth-of-type(4):before {
    content: "KOORDINAADID";
    font-weight: bold;
}
#table td:nth-of-type(5):before {
    content: "LÄHIM OBJEKT";
    font-weight: bold;
}
#table td:nth-of-type(6):before {
    content: "KAUGUS";
    font-weight: bold;
}
#table td:nth-of-type(7):before {
    font-weight: bold;
}